.containerBtn {
    display: flex;
    justify-content: center;
    background-color: hsl(280, 91%, 74%);
    width: 100%;
}

.container {
    background-color: hsl(280, 91%, 74%);
    width: 100%;
}

.click {
    color: #fafeff;
    width: 100px;
    height: 50px;
    border: 3px solid hsl(255, 55%, 53%);
    background-color: hsl(216, 73%, 78%);
    
    margin: 10px;
  }

.buttons {
    display: flex;
    margin-top: 30px;
}

input {
    display: block;
    margin: 0 auto;
}

.view-form {
    text-align: center;
    padding: 10px;
  
}

.view-input {
    width: 250px;
    height: 30px;
    border: 3px solid hsl(201, 75%, 41%);
    background-color: hsl(170, 75%, 85%);
    color: black;
    margin-bottom: 3px;
}

.view-button {
    color: hsl(192, 100%, 99%);
    width: 250px;
    height: 50px;
    border: 3px solid hsl(255, 55%, 53%);
    background-color: hsl(341, 100%, 81%);
    text-align: center;  
}

.invalid {
    border: 5px solid hsl(307, 100%, 65%);
}

.active-btn {
    border: 3px solid hsl(254, 100%, 40%);
    background-color: hsl(314, 100%, 50%);
}

